body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:140px;
  width:601px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:601px;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:217px;
  width:674px;
  height:145px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:95px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:120px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:0px;
  width:337px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:333px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:60px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:60px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:30px;
  width:95px;
  height:60px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:91px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:30px;
  width:120px;
  height:60px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:60px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:30px;
  width:337px;
  height:60px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:333px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:55px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:55px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:90px;
  width:95px;
  height:55px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:90px;
  width:120px;
  height:55px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:55px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:90px;
  width:337px;
  height:55px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
