body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:250px;
  width:55px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:306px;
  width:895px;
  height:135px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  color:#FFFFFF;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:226px;
  height:35px;
  color:#FFFFFF;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:35px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:266px;
  height:35px;
  font-size:13px;
  color:#FFFFFF;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:262px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:0px;
  width:201px;
  height:35px;
  font-size:13px;
  color:#FFFFFF;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:0px;
  width:126px;
  height:35px;
  font-size:13px;
  color:#FFFFFF;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:100px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:76px;
  height:100px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:72px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:100px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:35px;
  width:226px;
  height:100px;
  font-size:17px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:222px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:100px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:35px;
  width:266px;
  height:100px;
  font-size:17px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:262px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:100px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:35px;
  width:201px;
  height:100px;
  font-size:17px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:100px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:35px;
  width:126px;
  height:100px;
  font-size:17px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:122px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:504px;
  width:91px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:center;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:552px;
  width:192px;
  height:139px;
  font-size:17px;
  text-align:center;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:center;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:552px;
  width:153px;
  height:120px;
  font-size:17px;
  text-align:center;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:center;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:552px;
  width:153px;
  height:144px;
  font-size:17px;
  text-align:center;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:center;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:552px;
  width:153px;
  height:72px;
  font-size:17px;
  text-align:center;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:904px;
  height:31px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:704px;
  width:889px;
  height:5px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:727px;
  width:883px;
  height:236px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:28px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:28px;
  font-size:17px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:217px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:28px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:0px;
  width:221px;
  height:28px;
  font-size:17px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:217px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:28px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:221px;
  height:28px;
  font-size:17px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:217px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:0px;
  width:220px;
  height:28px;
  font-size:17px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:80px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:221px;
  height:80px;
  font-size:17px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:217px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:80px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:28px;
  width:221px;
  height:80px;
  font-size:17px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:217px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:80px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:28px;
  width:221px;
  height:80px;
  font-size:17px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:217px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:28px;
  width:220px;
  height:80px;
  font-size:17px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:216px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:42px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:221px;
  height:42px;
  font-size:17px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:217px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:42px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:108px;
  width:221px;
  height:42px;
  font-size:17px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:42px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:108px;
  width:221px;
  height:42px;
  font-size:17px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:42px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:108px;
  width:220px;
  height:42px;
  font-size:17px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:86px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:221px;
  height:86px;
  font-size:17px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:217px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:86px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:150px;
  width:221px;
  height:86px;
  font-size:17px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:217px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:86px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:150px;
  width:221px;
  height:86px;
  font-size:17px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:217px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:86px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:150px;
  width:220px;
  height:86px;
  font-size:17px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:216px;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:90px;
  width:601px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:601px;
  word-wrap:break-word;
}
